{% extends "birthdayEmails/birthdayCenterContent.html" %}
{% block content %}
    <div class="col-sm-12 sign-in">
        <h3>Sign In</h3>
        <form action="{% url 'birthdayEmails:signIn' %}" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            {{ form.username }}
            {{ form.username.errors }}
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            {{ form.password }}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default btn-block"/>Sign In</button>
          </div>
          <div class="form-group text-center">
            <a href="{{ link_url }}">Link drchrono account</a> 
          </div>
        </form>
      </br>
    </div>
{% endblock %}