{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>drchrono Birthday Emails</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'birthdayEmails/style.css' %}"/>
   </head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">drchrono Birthday Emails</a>
    </div>
    <button class="btn btn-default navbar-btn pull-right" data-toggle="modal" data-target=".bs-signout-modal-sm">Signout</button>

  </div>
</nav>   

<div class="modal bs-signout-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4>Signout <i class="fa fa-lock"></i></h4></div>
      <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to signout?<a href="{% url 'birthdayEmails:signOut' %}" class="btn btn-primary btn-block">Signout</a></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container">

{% if patient_list %}
<div class="row">
<div class='col-sm-4'>
<form action="{% url 'birthdayEmails:signOut' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="patientName">Patient</label>
      <input type="text" class="form-control" id="patientName" placeholder="Select one from the list..." disabled>
    </div>
    <div class="form-group">
      <label for="emailSubject">Subject</label>
      <input type="text" class="form-control" id="emailSubject" required>
    </div>
    <div class="form-group">
      <label for="emailBody">Body</label>
      <textarea class="form-control" id="emailBody" rows="3" required></textarea>
    </div>
    <input class="btn" type="submit" value="Add Email to Pending Queue">

</form>
</div>
<div class='col-sm-8'>
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
    <thead>
    <tr>
    <td class="patient-id">ID</td>
    <td>Photo</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Birthday</td>
    <td>Status</td>
    </tr>
    </thead>
    <tbody>
    {% for patient in patient_list %}
        <tr {% if not patient.date_of_birth or not patient.email %}class="hidden-table"{% endif %}>
        <td class="patient-id">{{ patient.id }}</td>
        {% if patient.patient_photo %}
            <td><img class="img-responsive img-patient" src="{{patient.patient_photo}}"/></td>
        {% else %}
            <td><img class="img-responsive img-patient" src="http://www.placecage.com/c/50/83"/></td>
        {% endif %}
        <td>{{patient.first_name}}</td>
        <td>{{patient.last_name}}</td>
        <td>{{patient.date_of_birth}}</td>
        <td>
        <ul>
        {% if not patient.date_of_birth %}
            <li>No DOB on File. <a>Add One!</a></li>
        {% endif %}
        {% if not patient.email %}
            <li>No email address on File. <a>Add One!</a></li>
        {% endif %}
        </ul>
        </td>

        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>
{% else %}
    <p>No patients are available.</p>
{% endif %}

</div>
<script type='text/javascript' src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
   <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
   <script type='text/JavaScript' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <script language="javascript">
      /*
         Before our JavaScript can be imported, the following JavaScript
         variable (the url to toggle the like) needs to be set from the
         Django variable. While this could be hard-coded into the
         JavaScript, this allows it to be centrally located (in
         birthdayEmails urls).
 
         Since an id must be provided to the Django url, give it a
         bogus one, then immediately lop it off (along with the
         ending '/'). It is re-appended by the JavaScript.
       */
      var PATIENT_PRE_ID = "{% url 'birthdayEmails:toggle_patient' patient_id='999999999' %}"
      PATIENT_PRE_ID = PATIENT_PRE_ID.substring(0, PATIENT_PRE_ID.length - "999999999/".length);
   </script>
   <script type='text/javascript' src="{% static 'birthdayEmails/toggle_patient.js' %}"></script>
</body>
</html>
