{% extends "birthdayEmails/birthdayCenterContent.html" %}
{% block content %}
    <div class="col-sm-12 sign-in">
        <h3>Create an account</h3>
        <form action="{% url 'birthdayEmails:createUser' code %}" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            {{ form.username }}
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            {{ form.password }}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default btn-block"/>Create User</button>
          </div>
        </form>
      </br>
    </div>
{% endblock %}