table {
    height: 100%;
}
tbody {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
.table>tbody>tr>td {
    padding: 2px;
    vertical-align: middle;
}
h3 {
    color: #2a414a;
}
.row {
    height: 100%;
}
.patient-id,
.patient-email-body,
.patient-email-subject,
.patient-email-sent {
    display: none;
}
.table-responsive {
    height:100%;
    overflow-y: visible;
    background-color: #c7c4cb;
}
ul {
    padding-left: 20px;
}
.container {
    height: 85%;
}

.col-sm-8 {
    height: 30%;
    height: calc(100% - 280px);
}
.col-sm-4 {
    overflow: auto;
}
.navbar-header {
    float: left;
}
.img-patient {
    max-width: 50px;
    max-height: 50px;
    margin: 0 auto;
}
.form-group {
    margin: 0 0 5px 0;
}
.navbar {
    margin: 0 0 5px 0;
    background-color: #c7c4cb;
}
.table-hover > tbody > tr.hidden-table:hover > td {
     background-color: #fcc;
 }
 .table-hover > tbody > tr.hidden-table > td {
     background-color: #fcc;
 }

@media (min-width: 768px) {
    .form-group {
        margin: 0 0 15px 0;
    }

    .navbar {
        margin: 0 0 20px 0;
    }
    .col-sm-8 {
        height: 100%;
    }

}
.bgimage {
background-image: url('images/108Hsepia.jpg');
height:100%;
background-size: 100%;
}
.bgimage-inside {

}
.absolute-center {
    margin: auto;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    background-color: #c7c4cb;
    border-radius: 10px;
}
.absolute-center.is-responsive {
    width:50%;
    height: 230px;
    min-width: 200px;

    max-width: 300px;

    padding: 0px;
}
body {
    background: #2a414a;
}
.sign-in {
    background: #c7c4cb;
    border-radius: 10px;
}
.btn-block {
    background-color: #88848c;
}

.form-label {
    color: #c7c4cb;
}