body {
    background: #2a414a;
}
h3 {
    color: #2a414a;
}
.btn-block {
    background-color: #88848c;
}

/*NAVBAR*/
.navbar-header {
    float: left;
}
.navbar {
    margin: 0 0 5px 0;
    background-color: #c7c4cb;
}
/*END NAVBAR*/

/*TABLE FOR MAIN PAGE*/
table {
    height: 100%;
}
tbody {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
.table-responsive {
    height: 100%;
    overflow-y: visible;
    background-color: #c7c4cb;
}
.table>tbody>tr>td {
    padding: 2px;
    vertical-align: middle;
    text-align: center;
}
.patient-id,
.patient-email-body,
.patient-email-subject,
.patient-email-sent,
.patient-email-address {
    display: none;
}
.img-patient {
    max-width: 50px;
    max-height: 50px;
    margin: 0 auto;
}
.table-hover > tbody > tr.hidden-table:hover > td {
    background-color: #fcc;
}
.table-hover > tbody > tr.hidden-table > td {
    background-color: #fcc;
}
/*END TABLE FOR MAIN PAGE*/

/*FORMS ON MAIN PAGE*/
.form-group {
    margin: 0 0 5px 0;
}
.form-label {
    color: #c7c4cb;
}
/*END FORMS ON MAIN PAGE*/

/*GRID LAYOUT*/
.row {
    height: 100%;
}
.container {
    height: 85%;
}
.col-sm-8 {
    height: 30%;
    height: calc(100% - 280px);
}
.col-sm-4 {
    overflow: auto;
}
/*END GRID LAYOUT*/

/*INDEX PAGE*/
.bgimage {
    background-image: url('images/108Hsepia.jpg');
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #c7c4cb;
    border-radius: 10px;
}
.absolute-center.is-responsive {
    width: 50%;
    height: 230px;
    min-width: 200px;
    max-width: 300px;
    padding: 0px;
}
.sign-in {
    background: #c7c4cb;
    border-radius: 10px;
}
.errorlist{
    color: red;
    list-style-type: none;
}
/*END INDEX PAGE*/

@media (min-width: 768px) {
    .form-group {
        margin: 0 0 15px 0;
    }
    .navbar {
        margin: 0 0 20px 0;
    }
    .col-sm-8 {
        height: 100%;
    }
}